# compiled files
*.class
build/*
out/

# package files
*.jar

# virtual machine crash logs
hs_err_pid*

# intelliJ IDEA files
.idea/*
*.iml

# gradle files
.gradle/*
#gradle/*
#gradlew.bat
#gradlew

# all hidden files
.*

#exclude
!.gitignore